/*
 * colors.scss
 * -------------------------------------------------------------------------
 * Determines the color scheme from a given hue value
 * -------------------------------------------------------------------------
 */

$hue: 200;
$saturation: 60%;

@function complementary($hue) {
  @return ($hue + 180) % 360;
}

@function rightAnalogous($hue) {
  @return ($hue + 30);
}

@function leftAnalogous($hue) {
  @return ($hue - 40);
}

$hueRightAnalogous: rightAnalogous($hue);
$hueLeftAnalogous: leftAnalogous($hue);
$hueComplement: complementary($hue);

// base colors

$primary-color-10: hsl($hue, $saturation, 10%);
$primary-color-15: hsl($hue, $saturation, 15%);
$primary-color-20: hsl($hue, $saturation, 20%);
$primary-color-25: hsl($hue, $saturation, 25%);
$primary-color-30: hsl($hue, $saturation, 30%);
$primary-color-35: hsl($hue, $saturation, 35%);
$primary-color-70: hsl($hue, $saturation, 70%);
$primary-color-90: hsl($hue, $saturation, 90%);

// complementary colors
$secondary-color-10: hsl($hueComplement, $saturation, 10%);
$secondary-color-15: hsl($hueComplement, $saturation, 15%);
$secondary-color-20: hsl($hueComplement, $saturation, 20%);
$secondary-color-25: hsl($hueComplement, $saturation, 25%);
$secondary-color-30: hsl($hueComplement, $saturation, 30%);
$secondary-color-35: hsl($hueComplement, $saturation, 35%);
$secondary-color-70: hsl($hueComplement, $saturation, 70%);
$secondary-color-90: hsl($hueComplement, $saturation, 90%);

// accent colors
$accent-color-1-10: hsl($hueRightAnalogous, $saturation, 10%);
$accent-color-1-15: hsl($hueRightAnalogous, $saturation, 15%);
$accent-color-1-20: hsl($hueRightAnalogous, $saturation, 20%);
$accent-color-1-25: hsl($hueRightAnalogous, $saturation, 25%);
$accent-color-1-30: hsl($hueRightAnalogous, $saturation, 30%);
$accent-color-1-35: hsl($hueRightAnalogous, $saturation, 35%);
$accent-color-1-70: hsl($hueRightAnalogous, $saturation, 70%);
$accent-color-1-90: hsl($hueRightAnalogous, $saturation, 90%);


$accent-color-2-10: hsl($hueLeftAnalogous, $saturation, 10%);
$accent-color-2-15: hsl($hueLeftAnalogous, $saturation, 15%);
$accent-color-2-20: hsl($hueLeftAnalogous, $saturation, 20%);
$accent-color-2-25: hsl($hueLeftAnalogous, $saturation, 25%);
$accent-color-2-30: hsl($hueLeftAnalogous, $saturation, 30%);
$accent-color-2-35: hsl($hueLeftAnalogous, $saturation, 35%);
$accent-color-2-70: hsl($hueLeftAnalogous, $saturation, 70%);
$accent-color-2-90: hsl($hueLeftAnalogous, $saturation, 90%);

$white: hsl($hue, $saturation, 99%);
$black: hsl($hue, $saturation, 10%);