body {
    font-size: 18px;
    font-family: 'Open Sans', 'Segoe UI', sans-serif; // Verdana, Geneva, Tahoma, sans-serif;
    background: $white;
}

h1,
h2,
h3,
h4 {
    font-family: Lato, sans-serif;
    margin: 1.5rem 0 0.5rem 0;
}





h1 {
    color: $primary-color-25;
}

h2 {
    color: $primary-color-35;
}

h3 {
    color: $accent-color-1-35;
}

h4 {
    color: $accent-color-2-35;
}

a {
    text-decoration: none;
}

a.active {
    color: $secondary-color-35;
    color: $secondary-color-70;
}

hr {
    margin-bottom: 1rem;
}

img {
    display: block;
    text-align: center;
    margin: 0 auto;
}

blockquote {
    border-left: 8px solid $primary-color-20;
    border-radius: $border-radius;
    padding: 0.5rem;
    background: $primary-color-90;
    font-style: italic;
    font-size: 1rem;
}

blockquote:before {}

/* TABLES */

table {
    table-layout: auto; //fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #e7e7e7;
    border-spacing: 2px;
    padding: 1rem;
    caption-side: bottom;
    margin-bottom: 1rem;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    font-family: Lato;
    font-size: 1.2rem;
    background: $primary-color-35;
    color: $white;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table>tr {
    vertical-align: middle;
}

td,
th {
    display: table-cell;
    padding: 5px;
    border: solid 1px $white;
}


.center {
    text-align: center;
}

/* -- LOGO -- */
.logo-holder {
    text-align: center;
}

.logo {

    a {
        color: $accent-color-2-35;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1;
        display: inline-block;
        padding: 1rem;
        padding-left: 2rem;
        text-decoration: none;
    }

    a:hover {
        color: $white;
    }
}





/* page-header */
.page-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 3rem;
    margin-left: 3rem;
}

/*-- CARD BOX --*/
.card-box {
    display: flex;
    flex-wrap: wrap;
    // grid-column: 4 /8;
    gap: 2rem;
    padding: 1rem;
    margin: 0, auto;
}


/*-- CARD --*/
.card {
    max-width: 280px;
    flex: 1 0 calc(33.33% - 1rem);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    box-shadow: $box-shadow;
    position: relative;

    img {
        width: 100%;
        width: 100%;
        height: 10vw;
        object-fit: contain;
        border: 1px solid transparent;
        border-radius: $border-radius;
    }

    p {
        font-size: 14px;
        color: #7f8c9b;
        line-height: 150%;
        text-align: center;
        padding: 12px;
    }

    p:last-child {
        text-align: center;
        margin-top: auto;
    }

    .name {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-top: 6px;
    }

    .card-details {
        /* Add space around the details */
        padding: 8px 8px 8px 8px;
        padding: 15px;
    }


}

/*-- BUTTON --*/

.button-container {
    margin-top: auto;
}



button {
    border: none;
    padding: 12px 24px;
    border-radius: $border-radius;
    font-weight: 300;
    color: $white;
    background-color: $accent-color-2-30;
    /* Button is inline-block element by default, it needs to have block display for margin: 0 auto; to work */
    margin: 0 auto;
    display: block;
    min-width: 200px;
    margin-bottom: 1rem;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;

    /* Add style when button is focused or hovered */
    &:focus,
    &:hover {
        background-color: $accent-color-2-20;
        color: $white;
    }
}

/* CALLOUTS */

.callout {
    padding: 1rem;
    // margin-left: 30px !important;
    margin-right: 30px !important;
    font-size: $small;
    border-radius: $border-radius;
    margin-bottom: 2rem;
}

/* notice callout */
.callout.notice {
    background-color: #f0f0f0;
    color: #333;
    border-left: 8px solid $primary-color-35;

    &:before {
        content: "Note";
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 2px solid $primary-color-35;
    }
}

/* warning callout */
.callout.warning {
    background-color: #ffe6e6;
    color: #cc0000;
    border-left: 8px solid $secondary-color-35;

    &:before {
        content: "Note";
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        border-bottom: 2px solid $primary-color-35;
    }
}

/* success callout */
.callout.success {
    background-color: #e6f7e6;
    color: #006600;
}

/* success callout */
.callout.objectives {
    background-color: $primary-color-35;
    color: $white;
    padding-left: 40px;
    // position: relative;
    border-left: 8px solid $secondary-color-20;

    &:before {
        content: "In this section ...";
        font-size: 2rem;
    }
}

.section-contents {

    font-size: 12pt;

    li {
        color: $primary-color-25;
    }

    a {
        color: $primary-color-25;
    }
}

// .section-contents li {
//     // color: white;
//     color: red;

// }

.section-item {
    // font-family: Lota;
}


.detail-heading {
    color: $secondary-color-20;
    font-size: 1.2rem;
}

.footnotes {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    font-size: 0.8rem;
}

.footnote {
    font-size: 0.7rem;
}