/* grid-areas.scss
 * ----------------------------------------------------------------------------
 * Styling for the areas of the grid such as nav bar, header and content etc
 * The layout of the grid is in _layout.scss
 * ----------------------------------------------------------------------------
 */

/* -------------------------------------------------------------------------- */
/* CONTAINER */
/* -------------------------------------------------------------------------- */
.container {
    background: red;
    margin: 20px;
}

/* -------------------------------------------------------------------------- */
/* HEADER main-head */
/* -------------------------------------------------------------------------- */
.main-head {
    background: $primary-color-35;
    color: $white;
    padding: 1rem;
}

/* -------------------------------------------------------------------------- */
/* NAVIGATION main-nav */
/* -------------------------------------------------------------------------- */
.main-nav {
    background: $secondary-color-35;
}