/*
_layout.css
-------------------------------------------------------------------------------
Classes etc for defining the layout of the main page
NB.  Purely for layout and not styling of those elements
-------------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.container>* {
  grid-column: col-start / span 12;
}


/* TOP NAVIGATION BAR */
nav {
  grid-column: col-start / span 12;
}

header {
  grid-column: col-start / span 12;
}

footer {
  grid-column: col-start /span 12;
  // margin-top: 10px;
}

main {
  padding: 2rem;
}

.content {
  grid-column: 2 / 12;
}

/*-- HERO UNIT --*/
.hero {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;

  h1 {
      font-size: 3rem;
      font-family: 'Lato';
      // text-transform: lowercase;
      font-weight: 300;
      color: $white;
  }
}

#hero-logo {
  font-size: 8rem;
}