/*
_layout.css
-------------------------------------------------------------------------------
Classes etc for defining the layout of the main page
NB.  Purely for layout and not styling of those elements
-------------------------------------------------------------------------------
*/

@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.container>* {
  grid-column: col-start / span 12;
}

.main-head {
  grid-column: 1 / span 12;
}

.main-nav {
  grid-column: 1 / span 12;
}

@media (min-width: 500px) {
  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }

  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }

  .content,
  .main-footer {
    grid-column: col-start 4 / span 9;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start / span 12;
    // grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }

  .side {
    grid-column: col-start 11 / span 2;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 11 / span 2;
    grid-row: 3;
  }

  .main-footer {
    grid-column: col-start / span 12;
  }

  nav ul {
    flex-direction: column;
  }
}