@import 'colors.scss';

$background-color: #fff;


/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* font-sizes */
$small: 1rem;

$border-radius: 10px !default;
$box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1.5rem !default;
$navicon-height: 0.25rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;