<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">

        {% include top_navigation.html %}

        <header>
            <div class="page-head">
                <p>{% if page.categories %}{{ page.categories[0] | capitalize }} - {% endif %} {{ page.title | upcase }}</p>
            </div>
        </header>

        <main class="content">
            {{ content }}
        </main>

        {% include footer.html %}
    </div>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>

</html>