---
layout: default
---

<h2>{{ site.data.documents.docs.specs_list_title}}</h2>

{% assign specifications = site.data.documents.docs.specifications %}

{% for doc in specifications %}
<details>
    <summary>
        <b class="detail-heading">{{ doc.level }}</b>
    </summary>
    {% for entry in doc.spec %}
    <ul>
        <li><a href="{{entry.link}}" target="_blank">{{entry.board}}</a></li>
    </ul>
    {% endfor %}
</details>
{% endfor %}




<h2>{{ site.data.documents.docs.past_papers_list_title}}</h2>
{% assign past-papers = site.data.documents.docs.past_papers %}
{% for doc in past-papers %}
<details>
    <summary><b class="detail-heading">{{ doc.level }}</b></summary>
    <ul>
        {% for board in doc.boards %}
        <details>
            <summary><strong>{{ board.name }}</strong></summary>
            <ul>
                {% assign papers = board.papers | sort: "year" | reverse %}
                {% for paper in papers %}
                <li>
                    <a href="{{paper.link}}" target="_blank">{{ paper.year}} ({{paper.month}}): Paper {{
                        paper.paper_number
                        }}
                    </a> |
                    (<a href="{{paper.mark_scheme}}" target="_blank">Mark scheme</a>)
                </li>
                {% if paper.data %}
                <ul>
                    <li><a href="{{ paper.data }}">Code files</a></li>
                </ul>
                {% endif %}
                {% endfor %}
            </ul>
        </details>
        {% endfor %}
    </ul>
</details>
{% endfor %}




<h2>{{ site.data.documents.docs.pseudocode-list-title }}</h2>

{% assign pseudocode = site.data.documents.docs.pseudocode %}
{% for doc in pseudocode %}
<details>
    <summary><b class="detail-heading">{{ doc.level }}</b></summary>
    {% for guide in doc.boards %}
    <ul>
        <li><a href="{{guide.link}}" target="_blank">{{guide.name}}</a></li>
    </ul>
    {% endfor %}
    </ul>
</details>
{% endfor %}