<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container">

        {% include top_navigation.html %}

        <header>
            <div class="page-head">
                <p>{{ page.categories[0] | capitalize }} - {{ page.title | upcase }}</p>
            </div>
        </header>

        <main class="page-content">
            <div class="left-sidebar">
                <h4>Sections</h4>
                {% assign current_category = page.categories[0] %}
                {% assign category_pages = site.gcse | where_exp: 'page', 'page.categories contains current_category' |
                sort: 'page' %}
                <ol>
                    {% for p in category_pages %}
                    <!-- {% if p.page != 0 %} -->
                    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
                    <!-- {% endif %} -->
                    {% endfor %}
                </ol>
            </div>

            <div class="main-content">
                <h1>{{ page.title}}</h1>
                {{ content }}

                {% for challenge in site.data.gcse.programming_tasks.challenges_gcse.tasks %}
                {% if challenge.topic == page.title %}
                {% assign tasks_found = true %}

                <section id="#programming-tasks-section" class="programming_tasks">
                    <h2 id="programming-tasks-section">Programming Tasks</h2>
                    {{ site.data.gcse.programming_tasks.challenges_gcse.info | markdownify }}
                    <ol>
                        {% for item in challenge.challenges %}
                        <li><strong><a href="{{ site.gcse_task_path | append: item.link }}">{{ item.task_title
                                    }}</a></strong>: {{ item.task_outline | markdownify }}</li>
                        {% endfor %}
                    </ol>
                </section>
                {% endif %}
                {% endfor %}
            </div>

            <div class="right-sidebar">
                {% if page.page > 1 %}
                <h4>On this page ...</h4>
                <!-- {% include toc.html content=page.content skip_toc=page.skip_toc %} -->
                {% include toc.html html=content h_max=3 sanitize=true class="section-contents"
                item_class="section-item" %}
                
                {% if page.categories[0] == 'python' %}
                <hr />

                <a href="#programming-tasks-section"><button>Programming Tasks</button></a>
                <a href="task_list"><button>All Tasks</button></a>

                <hr />
                {% endif %}
                {% endif %}
            </div>

        </main>

        {% include footer.html %}
    </div>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</body>

</html>