<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    <div class="container">

        {% include top_navigation.html %}

        <header>
            <div class="hero">
                <div class="hero-content">
                    <p id="hero-logo" class="fa-solid fa-laptop-file"></p>
                    <h1 class="logo">{{ site.title }}</h1>
                    <p>{{ site.description }}</p>
                </div>
            </div>
        </header>


        <main class="content">
            {{ content }}
            <h1 class="center">{{ site.data.gcse.topics.gcse_topics.topics_list_title }}</h1>
            {% assign topics = site.data.gcse.topics.gcse_topics.topics  | sort: "sequence" %}

            <div class="card-box">
                {% for topic in topics %}
                <div class="card">
                    <img src = {{ topic.image }} />
                    <div class="card-details">
                        <div class="name"> {{ topic.name }}</div>
                        <!-- <p>{{ topic.description }}</p> -->
                        
                    </div>
                    <div class="button-container">
                        <a href="{{ topic.link }}"><button>Read more</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </main>

        {% include footer.html %}
    </div>
</body>

</html>